* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  background: #E1FF8F;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.top__block {
  padding-bottom: 246px;
  padding-top: 196px;
}
.top__block .top__block-text {
  display: flex;
  flex-direction: column;
}
.top__block-heading {
  width: 769px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
}
.top__block-regular {
  margin-top: 24px;
  width: 720px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.top__block-button {
  font-family: Montserrat;
  color: white;
  width: 247px;
  background-color: black;
  margin-top: 48px;
  padding: 16px 65px 16px 65px;
  border-radius: 60px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  border: 1px solid #000000;
  transition: 0.3s;
}
.top__block-button:hover {
  background-color: transparent;
  color: #000;
}
.top__block span {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.top__block-svg {
  position: absolute;
}
.top__block .svg1 {
  top: 94px;
  left: 63px;
}
.top__block .svg2 {
  top: 69px;
  left: 156px;
}
.top__block .svg3 {
  top: 0;
  right: 0px;
}
.top__block .svg3_1 {
  display: none;
}
.top__block .svg4 {
  top: 538px;
  right: 455px;
}
.top__block .svg5 {
  top: 568px;
  right: 344px;
}
.top__line {
  background-color: #BCEC30;
  height: 90px;
  display: flex;
  gap: 51px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 3200px;
  position: absolute;
  bottom: 0;
  left: -30px;
}
.top__line-text {
  font-size: 30px;
  font-weight: 700;
}

.about {
  background-color: #202027;
  padding-top: 94px;
  padding-bottom: 50px;
  position: relative;
  background-size: cover;
}
.about__text-heading {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
.about__text-regular {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  width: 788px;
}
.about .cards {
  display: grid;
  position: relative;
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 2;
  grid-column-gap: 32px;
}
.about .cards .card {
  background-color: #fff;
  border-radius: 30px;
  width: 378px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.1294117647);
}
.about .cards .card__small {
  justify-content: end;
  margin-top: 40px;
}
.about .cards .card__text {
  padding: 32px 32px 36px 32px;
}
.about .cards .card__img {
  width: 378px;
  height: 314px;
  border-radius: 30px;
}
.about .cards a {
  text-decoration: none;
  color: #000;
}
.about .cards .card__text-bg {
  background-color: #F7F7F7;
  border-radius: 53px;
  display: inline-block;
}
.about .cards .card__text-bg .card__text-number {
  font-size: 16px;
  padding: 8px 16px 10px 16px;
}
.about .cards .card__text-heading {
  font-size: 32px;
  margin-top: 16px;
}
.about__block-svg {
  position: absolute;
}

.svg6 {
  top: 77px;
  right: -120px;
  z-index: 0;
}

.svg7 {
  top: 770px;
  left: 25px;
  z-index: 1;
}

.svg8 {
  top: 822px;
  left: 40px;
  z-index: 1;
}

.mini-game {
  padding-bottom: 144px;
  background: #202027;
  background-size: cover;
  position: relative;
}
.mini-game__block-svg {
  position: absolute;
}
.mini-game .svg9 {
  position: absolute;
  top: 93px;
  right: 123px;
}
.mini-game .svg10 {
  position: absolute;
  top: 126px;
  right: 44px;
}
.mini-game .svg11 {
  position: absolute;
  bottom: 45px;
  right: 150px;
}
.mini-game .svg12 {
  position: absolute;
  bottom: 65px;
  right: 55px;
}
.mini-game__text {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  padding-top: 46px;
  margin-bottom: 72px;
}
.mini-game .games {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mini-game .games .game__tupe1 {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px;
}
.mini-game .games .game__tupe2 {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 30px;
}
.mini-game .games .game__text {
  padding: 48px 48px 0 48px;
}
.mini-game .games .game__text-h2 {
  font-size: 48px;
  font-weight: 700;
}
.mini-game .games .game__text-regular {
  font-size: 24px;
  font-weight: 400;
  margin-top: 24px;
}
.mini-game .games .game__text-button {
  font-family: Montserrat;
  color: white;
  width: 247px;
  background-color: black;
  margin-top: 48px;
  padding: 16px 65px 16px 65px;
  border-radius: 60px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  border: 1px solid #000000;
  transition: 0.3s;
}
.mini-game .games .game__text-button:hover {
  background-color: transparent;
  color: #000;
}
.mini-game .games .game__img {
  width: 600px;
  height: 500px;
  border-radius: 30px;
}

.footer {
  background-color: #BDED35;
  padding-top: 60px;
  padding-bottom: 61px;
  background-size: cover;
}
.footer__text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__block .svg1 {
    width: 35px;
    height: 35px;
    top: 97px;
    left: 38px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .top__block .svg2 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 92px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .top__block .svg4 {
    width: 18px;
    height: 18px;
    right: 86px;
  }
  .top__block .svg5 {
    width: 39px;
    height: 41px;
    right: 34px;
    bottom: 79px;
  }
  .top__block .svg3 {
    display: none;
  }
  .top__block .svg3_1 {
    display: block;
    top: 0;
    right: 0px;
  }
  .top__block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__block-heading {
    width: 262px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    font-size: 40px;
    text-align: center;
    align-items: center;
  }
  .top__block-regular {
    font-size: 16px;
    text-align: center;
    width: 296px;
    align-items: center;
  }
  .top span {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .top__block-button {
    width: 285px;
  }
  .about {
    display: none;
  }
  .mini-game {
    padding-bottom: 48px;
  }
  .mini-game .svg9 {
    display: none;
  }
  .mini-game .svg10 {
    display: none;
  }
  .mini-game .svg11 {
    display: none;
  }
  .mini-game .svg12 {
    display: none;
  }
  .mini-game .mini-game__text {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .mini-game .mini-game-games {
    gap: 24px;
  }
  .mini-game .game__button {
    width: 285px;
    margin-top: 32px;
  }
  .mini-game .game-button:hover {
    background-color: transparent;
    color: #000;
  }
  .mini-game .game__text {
    font-size: 40px;
    padding: 29px 29px 32px 29px;
  }
  .mini-game .game__tupe1 {
    flex-direction: column-reverse;
    width: 343px;
  }
  .mini-game .game__tupe2 {
    flex-direction: column;
    width: 343px;
  }
  .mini-game .game__img {
    width: 343px;
    height: 284.93px;
  }
  .mini-game .game__text-h2 {
    font-size: 32px;
  }
  .mini-game .game__text-regular {
    font-size: 16px;
    margin-top: 16px;
  }
  .mini-game .game__text {
    margin-bottom: 32px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer .footer__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */