* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    overflow-x: hidden;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    position: relative;
    background: #E1FF8F;
    
    background-position: center;
    background-size: cover;
    z-index: 1;
    // height: 800px;

    // padding-top: 196px;

    &__block {
        padding-bottom: 246px;
        padding-top: 196px;



        .top__block-text {
            display: flex;
            flex-direction: column;

        }


        &-heading {
            width: 769px;
            font-size: 64px;
            font-weight: 700;
            line-height: 78.02px;
            text-align: left;

        }

        &-regular {
            margin-top: 24px;
            width: 720px;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;

        }

        &-button {
            font-family: Montserrat;
            color: white;
            width: 247px;
            background-color: black;
            margin-top: 48px;
            padding: 16px 65px 16px 65px;
            border-radius: 60px;
            font-size: 24px;
            font-weight: 600;
            line-height: 34.01px;
            text-align: center;
            border: 1px solid #000000;
            transition: 0.3s;


        }

        &-button:hover {
            background-color: transparent;
            color: #000;
        }

        span {
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }



        &-svg {
            position: absolute;


        }

        .svg1 {
            top: 94px;
            left: 63px;
        }

        .svg2 {
            top: 69px;
            left: 156px;
        }

        .svg3 {
            top: 0;
            right: 0px;
        }

        .svg3_1 {
            display: none;


            // z-index: 0;
        }

        .svg4 {
            top: 538px;
            right: 455px;
        }

        .svg5 {
            top: 568px;
            right: 344px;
        }
    }

    &__line {
        background-color: #BCEC30;
        height: 90px;
        display: flex;
        gap: 51px;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;

        width: 3200px;
        position: absolute;
        bottom: 0;
        left: -30px;


        &-text {

            font-size: 30px;
            font-weight: 700;


        }

    }

}

.about {
    background-color: #202027;
    padding-top: 94px;
    padding-bottom: 50px;
    position: relative;
    background-size: cover;



    &__text-heading {

        font-size: 64px;
        font-weight: 700;
        color: #fff;
    }

    &__text-regular {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 200;
        color: #fff;
        width: 788px;

    }

    .cards {

        display: grid;
        position: relative;



        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 2;
        grid-column-gap: 32px;


        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        // gap: 20px;
        // // max-width: 800px;
        // width: 100%;
        // padding-top: 72px;



        .card {
            // grid-column: span 1;
            background-color: #fff;
            border-radius: 30px;
            width: 378px;
            box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
            // z-index: 1;

            &__small {
                justify-content: end;
                margin-top: 40px;
            }

            &__text {
                padding: 32px 32px 36px 32px;

            }

            &__img {
                width: 378px;
                height: 314px;
                border-radius: 30px;
            }
        }

        a {
            text-decoration: none;
            color: #000;
        }

        .card__text-bg {

            background-color: #F7F7F7;
            border-radius: 53px;
            // width: 95px;
            display: inline-block;
            // text-align: center;

            .card__text-number {

                font-size: 16px;
                padding: 8px 16px 10px 16px;


            }
        }

        .card__text-heading {
            font-size: 32px;
            margin-top: 16px;
        }


    }

    &__block-svg {
        position: absolute;
    }


}

.svg6 {
    top: 77px;
    right: -120px;
    z-index: 0;
}

.svg7 {
    top: 770px;
    left: 25px;
    z-index: 1;
}

.svg8 {
    top: 822px;
    left: 40px;
    z-index: 1;
}

.mini-game {
    padding-bottom: 144px;
    background: #202027;
    background-size: cover;
    position: relative;

    &__block-svg {
        position: absolute;
    }

    .svg9 {
        position: absolute;
        top: 93px;
        right: 123px;
    }

    .svg10 {
        position: absolute;
        top: 126px;
        right: 44px;
    }

    .svg11 {
        position: absolute;
        bottom: 45px;
        right: 150px;
    }

    .svg12 {
        position: absolute;
        bottom: 65px;
        right: 55px;
    }




    &__text {
        color: #fff;
        font-size: 64px;
        font-weight: 700;
        padding-top: 46px;
        margin-bottom: 72px;
    }



    .games {

        display: flex;
        flex-direction: column;
        gap: 32px;

        .game__tupe1 {
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 30px;
        }

        .game__tupe2 {
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            border-radius: 30px;

        }



        .game__text {
            padding: 48px 48px 0 48px;

            &-h2 {

                font-size: 48px;
                font-weight: 700;
            }

            &-regular {

                font-size: 24px;
                font-weight: 400;
                margin-top: 24px;
            }

            &-button {
                font-family: Montserrat;
                color: white;
                width: 247px;
                background-color: black;
                margin-top: 48px;
                padding: 16px 65px 16px 65px;
                border-radius: 60px;
                font-size: 24px;
                font-weight: 600;
                line-height: 34.01px;
                text-align: center;
                border: 1px solid #000000;
                transition: 0.3s;


            }

            &-button:hover {
                background-color: transparent;
                color: #000;
            }
        }

        .game__img {
            width: 600px;
            height: 500px;

            border-radius: 30px;


        }





    }




}

.footer {
    background-color: #BDED35;
    padding-top: 60px;
    padding-bottom: 61px;
    background-size: cover;

    &__text {

        font-size: 24px;
        font-weight: 600;

        text-align: center;


    }
}

@import 'mobile';